<ion-modal-view>
	<ion-header-bar>
		<h1 class="title" style="color:#FFFFFF;">Novo Endereço</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="closeModalEnd()" style="color:#FFFFFF">
				<i class="icon ion-android-close"></i>
			</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<style>
		.input-label{width:100% !important;}
		</style>	
		<form ng-submit="addNewEndereco()" style="background-color:#FFFFFF;" >
			<label class="item item-input item-stacked-label">
				<span class="input-label">Tipo de Endereço</span>
				<input type="text" name="text" ng-model="newend.tipo_endereco" placeholder="Tipo de Endereço">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">CEP</span>
				<input type="tel" ng-model="newend.cep" placeholder="00000-000" ng-keyup="loaderAddressByCep()" ui-mask="99999-999" ui-mask-placeholder ui-mask-placeholder-char="_" />
			</label>
			<label class="item item-input item-select">
				<span class="input-label">Estado</span>
				<select ng-model="select.estado" ng-change="loaderCity()" ng-options="estado as estado.nome for estado in estados track by estado.id">
					<option value="">Selecione</option>
				</select>
			</label>				
			<label class="item item-input item-select">
				<span class="input-label">Cidade</span>
				<select ng-model="select.cidade" ng-change="loaderNeighborhood()" ng-options="cidade as cidade.nome for cidade in cidades track by cidade.id">
					<option value="">Selecione</option>
				</select>
			</label>				
			<label class="item item-input item-select">
				<span class="input-label">Bairro</span>
				<select ng-model="select.bairro" ng-options="bairro as bairro.nome for bairro in bairros track by bairro.id">
					<option value="">Selecione</option>
				</select>
			</label>				
			<label class="item item-input item-stacked-label">
				<span class="input-label">Endereço</span>
				<input type="text" name="text" ng-model="newend.endereco" placeholder="Endereço">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Número</span>
				<input type="tel" ng-model="newend.numero" placeholder="Número">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Complemento</span>
				<input type="text" ng-model="newend.complemento" placeholder="Complemento">
			</label>
			<ul class="list">
				<li class="item item-toggle">
					Principal
					<label class="toggle toggle-positive">
						<input type="checkbox" ng-model="newend.principal">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
			</ul>			
			<div style="text-align:right; padding:10px">
				<button class="button button-blue-dark" type="submit" style="width:100px;">Salvar</button>
				<a class="button button-dark" ng-click="closeModalEnd()" style="width:100px;">Cancelar</a>
			</div>
		</form>
	</ion-content>
</ion-modal-view>