<ion-view cache-view="false">
	<ion-nav-title>Configurações</ion-nav-title>
	<ion-content>
		<div id="config" class="list" style="background-color: #FFFFFF;">
			<a class="item item-icon-left" href="#">
				<i class="icon ion-android-desktop"></i>
				Versão do Sistema: 2.9.6 (209068)
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-android-phone-portrait"></i>
				Plataforma: {{platform}}
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-android-phone-portrait"></i>
				Versão do Android: {{version}}
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-android-phone-portrait"></i>
				Modelo: {{modelo}}
			</a>
			<a class="item item-icon-left" href="javascript:void(0);" ng-click="updateSystem()">
				<i class="icon ion-android-globe"></i>
				Atualizar
			</a>
		</div>
	</ion-content>
</ion-view>