<ion-view cache-view="false">
	<ion-nav-title>Favoritos</ion-nav-title>
	<ion-content class="menu-space">
		<div id="carrinho">
			<ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
				<ion-item ng-if="nofavoritos">Carrinho Vazio</ion-item>
				<ion-item id="cart_{{favorito.Servico.id}}" ng-repeat="favorito in favoritos" class="item-thumbnail-left">
					<a href="#/app/oferta/{{oferta.Servico.id}}" style="display:table;width:100%;" >
						<div class="imagem"><img src="{{favorito.Servico.imagem}}" /></div>
						<div>
							<div style="font-weight:bold;margin-bottom:5px;">{{favorito.Servico.nome}}</div>
							<div style="text-align:justify;">{{favorito.Servico.resumo}}</div>
							<div style="text-align: right;"><i class="icon ion-cash"></i>&nbsp;R$&nbsp;{{favorito.Servico.valor}}</div>
						</div>
						<ion-option-button class="button-assertive btn-remove" ng-click="addCompra({{favorito.Servico.id}})">
							<i class="icon ion-android-cart"></i>
						</ion-option-button>
						<ion-option-button class="button-dark btn-remove" ng-click="removeFavorito('{{favorito.Servico.nome}}', {{favorito.Servico.id}})">
							<i class="icon ion-android-delete"></i>
						</ion-option-button>
					</a>
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>
