<ion-view cache-view="false">
	<ion-nav-title>TEntrego</ion-nav-title>
	<ion-content class="menu-space">
		<div id="menu-float" style="text-align:center; " ng-style="{'margin-top': altura }">
			<div class="row">
				<div class="col col-33" ></div>
					<div class="col col-33">
						<a nav-transition="android" nav-direction="forward" href="#/app/empresas/alimentacao" class="button-a button2 icon-left button-positive icon-lateral">
							<img class="icon-home" src="img/icons/food.png"/>
						</a>
					</div>
				<div class="col col-33"></div>
			</div>
			<div class="row">
				<div class="col col-33">
					<a nav-direction="forward" href="#/app/empresas/bebidas" class="button-a button2 icon-left button-positive icon-lateral">
						<img class="icon-home" src="img/icons/drink.png"/>
					</a>
				</div>
				<div class="col col-33">
					<a nav-direction="forward" href="#/app/empresas/" class="button-a button2 icon-left icon-central">
						<img src="img/icons/running_man.png" style="width:80px;height:80px;margin-top:20px;margin-left:0px;" />
					</a>
				</div>
				<div class="col col-33">
					<a nav-direction="forward" href="#/app/empresas/tecnologia" class="button-a button2 icon-left button-positive icon-lateral">
						<img class="icon-home" src="img/icons/technology.png"/>
					</a>
				</div>
			</div>
			<div style="margin-top:-10px;" class="row">
				<div class="col col-33">
					<a nav-direction="forward" href="#/app/empresas/farmacia" class="button-a button2 icon-left button-positive icon-lateral-2" >
						<img class="icon-home" src="img/icons/tool.png"/>
					</a>
				</div>
				<div class="col col-33"></div>
				<div class="col col-33">
					<a nav-direction="forward" href="#/app/empresas/mercado" class="button-a button2 icon-left button-positive icon-lateral-2">
						<img class="icon-home" src="img/icons/market.png"/>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col col-33"></div>
				<div class="col col-33 center">
					<a nav-direction="forward" href="#/app/empresas/beleza" class="button-a button2 icon-left button-positive icon-lateral">
						<img class="icon-home" src="img/icons/women.png"/>
					</a>
				</div>
				<div class="col col-33"></div>
			</div>
		</div>
	</ion-content>
</ion-view>
