<ion-view cache-view="false">
	<ion-nav-title>Localização</ion-nav-title>
	<ion-content>
		<div id="locate" ng-controller="LocateCtrl">
			<a class="item item-icon-left" ng-click="refresh()">
				<i class="icon ion-android-refresh"></i>
				Refresh
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-android-locate"></i>
				Latitude: {{latitude}}
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-android-locate"></i>
				Longitute: {{longitude}}
			</a>
			<div id="map" class="mapa" data-tap-disabled="true"></div>
		</div>
	</ion-content>
</ion-view>	