<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Login</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="closeLogin()" style="color:#FFFFFF">
				<i class="icon ion-android-close"></i>
			</button>
		</div>
	</ion-header-bar>
	<ion-content class="menu-spacer">
		<form ng-submit="doLogin()" style="background-color:#FFFFFF;">
			<div class="list">
				<label class="item item-input">
					<span class="input-label" style="width:25%;">Username</span>
					<input type="email" ng-model="loginData.username">
				</label>
				<label class="item item-input">
					<span class="input-label" style="width:25%;">Password</span>
					<input type="password" ng-model="loginData.password">
				</label>
				<button class="button button-full button-blue-dark" type="submit">Entrar</button>
			</div>
		</form>
	</ion-content>
</ion-modal-view>
