<ion-view cache-view="false">
	<ion-nav-title ng-model="title">{{title}}</ion-nav-title>
	<ion-content class="menu-space">
		<div id="counter" ng-model="message">{{message}}</div>
		<div id="carrinho">
			<ion-list ng-controller="CarrinhoCtrl" show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
				<ion-item ng-repeat="oferta in ofertas" class="item-thumbnail-left">
					<a href="#/app/oferta/{{oferta.Servico.id}}" style="display:table;width:100%;" >
						<div class="imagem"><img src="{{oferta.Servico.imagem}}" /></div>
						<div>
							<div class="nome">{{oferta.Servico.nome}}</div>
							<div class="valor">R$ {{oferta.Servico.valor}}</div>
						</div>
						<ion-option-button class="button-dark btn-remove" ng-click="addCompra({{oferta.Servico.id}})">
							<i class="icon ion-android-cart"></i>
						</ion-option-button>
						<ion-option-button class="button-assertive btn-remove" ng-click="checkFavorito({{oferta.Servico.id}})">
							<i class="icon ion-heart"></i>
						</ion-option-button>
					</a>
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>