<ion-view cache-view="false">
	<style>
	.linha{ width:100%; text-align: right; padding:3px 5px; }
	.linha.even{ background-color:#EEEEEE; }
	.linha.bold, .linha.bold label{ font-weight: bold; text-transform: uppercase; font-size: 16px; }
	.status { font-weight: bold; text-transform: uppercase; font-size: 14px;  }
	.status.approved, .status.authorized { color:#149b00; }
	.status.in_process, .status.pending{ color:#ffcc00; }
	.status.rejected, .status.cancelled, .status.refunded, .status.charged_back{ color:#aa0000; }
	.linha label{float: left; text-align: left; }
	.lin{ width: 100%; text-align: right; padding:0px 3px; }
	.lin label{float:left; text-align: left;}
	.lin.even{ background-color:#EEEEEE; }
	</style>
	<ion-nav-title>Pedido {{pedido.Pedido.codigo}}</ion-nav-title>
	<ion-content class="menu-space">
		<div style="background-color: #FFFFFF;padding:5px;">
			<div class="linha even bold">
				<label>CÓDIGO:</label>
				{{pedido.Pedido.codigo}}
			</div>
			<div class="linha">
				<label>Data do Pedido: </label>
				{{pedido.Pedido.dt_pedido_for}} - {{pedido.Pedido.hr_pedido_for}}
			</div>
			<div class="linha even">
				<label>Valor da Entrega: </label>
				R$ {{pedido.Pedido.total_taxa_entrega_for}}
			</div>
			<div class="linha">
				<label>Valor: </label>
				R$ {{pedido.Pedido.total_valor_for}}
			</div>
			<div class="linha even" ng-if="pedido.Transacao.parcelas">
				<label>Parcelado: </label>
				{{pedido.Transacao.parcelas}}X de R$ {{pedido.Transacao.valor_parcelas}}
			</div>

			<div class="linha" ng-if="pedido.Transacao.valor_pago">
				<label>Valor Total Parcelado: </label>
				R$ {{pedido.Transacao.valor_pago}}
			</div>

			<div class="linha even">
				<label>Status: </label>
				<div class="status {{pedido.Pedido.status_codigo}}">{{pedido.Pedido.status_label}}</div>
			</div>

		</div>	
		<div style="background-color: #FFFFFF; padding:10px;" ng-if="pedido.ClienteEnderedo.tipo_endereco">
			<div class="line"><b>Endereço de Entrega</b></div>			
			<div class="line">
				{{pedido.ClienteEndereco.tipo_endereco}}<br/>
				{{pedido.ClienteEndereco.endereco}}, {{pedido.ClienteEndereco.numero}}<br/>
				{{pedido.ClienteEndereco.bairro}} - {{pedido.ClienteEndereco.cidade}} - {{pedido.ClienteEndereco.estado}}<br/>
				{{pedido.ClienteEndereco.complemento}}<br/>CEP {{pedido.ClienteEndereco.cep}}
			</div>
		</div>
		<div ng-if="pedido.Servico" style="background-color:#FFFFFF; padding:5px;">
			<div class="title" style="padding-bottom:7px;font-size:16px;"><b>Serviços</b></div>
			<div ng-repeat="servico in servicos" style="display:table;width:100%;margin-bottom:10px;padding-bottom:5px;border-bottom:1px solid #AAAAAA;">
				<a href="#/app/oferta/{{servico.Servico.id}}">
					<!--
					<div style="float:left;margin-right:5px;width:144px;">
						<img style="width:144px;height:80px" src="{{servico.Servico.imagem}}" />
					</div>
					-->
					<div style="float:left;width:100%;">
						<div style="margin-bottom:3px;font-size:16px;"><b>{{servico.Servico.nome}}</b></div>
						<div class="lin even">
							<label>Quantidade:</label>
							{{servico.Servico.quantidade}}
						</div>
						<div class="lin">
							<label>Valor Unitário:</label>
							R$ {{servico.Servico.valor_unit_for}}
						</div>
						<div class="lin even">
							<label>Valor Total:</label>
							R$ {{servico.Servico.valor_total_for}}
						</div>
					</div>
				</a>
			</div>
		</div>

		<div ng-if="newpgto">
			<button class="button button-full button-blue-dark" ng-click="efectPayment({{pedido.Pedido.id}})">Efetuar Pagamento</button>
		</div>			

	</ion-content>
</ion-view>
