<ion-view cache-view="false">
	<ion-nav-title>Pesquisar</ion-nav-title>
	<ion-content class="menu-space">
		<div class="search-input">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="search" id="keyword" placeholder="Pesquisar">
			</label>
		</div>
		<div style="padding:12px;margin-top:-25px;">
			<button class="button button-full button-blue-dark" ng-click="search()">Pesquisar</button>	
		</div>
	</ion-content>
</ion-view>
