<ion-view cache-view="false">
<style>
.cropArea {
    overflow: hidden;
    width:100%;
	height:250px;   
	background-color: #EEEEEE;
}
form .progress {
    line-height: 15px;
}
.progress {
    display: inline-block;
    width: 100%;
    height:30px;
    text-align: center;
    border: 2px solid #EEEEEE;
    margin-top:10px;
}
.progress div {
    font-size:18px;
    font-weight:bold;
    color:#FFFFFF;
    background: #2D5F8B;
    width: 0;
}		
</style>
	<ion-nav-title>Upload Avatar</ion-nav-title>
	<ion-content >
		<div style="display:table;width:100%;background-color:#FFFFFF;">
			<label>
				<button class="button button-full button-blue-dark" ngf-select ng-model="picFile" accept="image/*">Selecione o avatar</button>
				
				<div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
					<img-crop image="picFile  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"></img-crop>
				</div>

				<div style="text-align: center;margin-top:20px;">
					<img ng-src="{{croppedDataUrl}}" />
				</div>
				
				<span class="progress" > <!-- ng-show="progress >= 0" -->
					<div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
				</span>
				<span ng-show="result">Enviado com Sucesso</span>
				<span class="err" ng-show="errorMsg">{{errorMsg}}</span>
			</label>
			<button href="javascript:void(0);" class="button button-full button-blue-dark" ng-click="upload(croppedDataUrl, picFile.name)">Upload</button> 
		</div>
	</ion-content>
</ion-view>		

