<ion-view cache-view="false">
	<ion-nav-title>Cadastro</ion-nav-title>
	<ion-content class="menu-space">
		<style>
		.input-label{width:100% !important;}
		</style>	
		<div nf-if="errors">
			<div style="width:100%;float:left;color:#FF0000;padding:1px 10px;" ng-repeat="message in errors">{{message}}</div>
		</div>
		<form ng-submit="addCliente()" style="background-color:#FFFFFF;padding-bottom:10px" >	
			<!-- text, password, email, number, search, tel, and url -->
			<label class="item item-input item-stacked-label">
				<span class="input-label">Nome</span>
				<input type="text" placeholder="João" ng-model="cliente.nome">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Sobrenome</span>
				<input type="text" placeholder="Silveira" ng-model="cliente.sobrenome">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Email</span>
				<input type="email" placeholder="joaosilveira@gmail.com" ng-model="cliente.email">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Senha</span>
				<input type="password" placeholder="*******" ng-model="cliente.passw">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Senha novamente</span>
				<input type="password" placeholder="*******" ng-model="cliente.passw_conf">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Data de nascimento</span>
				<input type="tel" placeholder="00/00/0000" ng-model="cliente.data_nascimento" ui-mask="99/99/9999" ui-mask-placeholder ui-mask-placeholder-char="_">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Cpf</span>
				<input type="tel" placeholder="000.000.000-00" ng-model="cliente.cpf" ui-mask="999.999.999-99" ui-mask-placeholder ui-mask-placeholder-char="_">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Telefone</span>
				<input type="tel" placeholder="(00) 0000.0000" ng-model="cliente.telefone" ui-mask="(99) 9999.9999" ui-mask-placeholder ui-mask-placeholder-char="_">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Celular</span>
				<input type="tel" placeholder="(00) 0000.0000" ng-model="cliente.celular" ui-mask="(99) 9999.9999" ui-mask-placeholder ui-mask-placeholder-char="_">
			</label>
			
			<label class="item item-input item-select">
				<div class="input-label">
					Sexo
				</div>
				<select ng-model="cliente.sexo">
					<option selected value="M">Masculino</option>
					<option value="F">Feminino</option>
				</select>
			</label>

			<div ng-controller="EnderecosCtrl">
			
			<title>Endereço</title>
			
			<label class="item item-input item-stacked-label">
				<span class="input-label">Tipo de Endereço</span>
				<input type="text" name="text" ng-model="newend.tipo_endereco" placeholder="Tipo de Endereço">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">CEP</span>
				<input type="tel" ng-model="newend.cep" placeholder="00000-000" ng-keyup="loaderAddressByCep()" ui-mask="99999-999" ui-mask-placeholder ui-mask-placeholder-char="_" />
			</label>
			<label class="item item-input item-select">
				<span class="input-label">Estado</span>
				<select ng-model="select.estado" ng-change="loaderCity()" ng-options="estado as estado.nome for estado in estados track by estado.id">
					<option value="">Selecione</option>
				</select>
			</label>				
			<label class="item item-input item-select">
				<span class="input-label">Cidade</span>
				<select ng-model="select.cidade" ng-change="loaderNeighborhood()" ng-options="cidade as cidade.nome for cidade in cidades track by cidade.id">
					<option value="">Selecione</option>
				</select>
			</label>				
			<label class="item item-input item-select">
				<span class="input-label">Bairro</span>
				<select ng-model="select.bairro" ng-options="bairro as bairro.nome for bairro in bairros track by bairro.id">
					<option value="">Selecione</option>
				</select>
			</label>				
			<label class="item item-input item-stacked-label">
				<span class="input-label">Endereço</span>
				<input type="text" name="text" ng-model="newend.endereco" placeholder="Endereço">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Número</span>
				<input type="tel" ng-model="newend.numero" placeholder="Número">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Complemento</span>
				<input type="text" ng-model="newend.complemento" placeholder="Complemento">
			</label>
			
			</div>

			<button class="button button-full button-blue-dark">
				Salvar
			</button>
		</form>	
	</ion-content>
</ion-view>
