<ion-view cache-view="false">

<style type="text/css">
.box{display: table;}
.line.quantidade input{ width:35%;height:22px;padding:2px 0px;text-align:right;	}
.line.cep input{width:100px;height:22px;text-align:right;font-size:16px;color: #4b4b4b; float:right;}
</style>

	<ion-nav-title>Carrinho</ion-nav-title>
	<ion-content class="menu-space">
		<div id="carrinho">
			<ion-list ng-controller="CarrinhoCtrl" show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
				<ion-item ng-if="nocompras">Carrinho Vazio</ion-item>
				
				<ion-item id="cart_{{oferta.Servico.id}}" ng-repeat="oferta in compras" class="item-thumbnail-left">
					<div class="imagem"><img src="{{oferta.Servico.imagem}}" /></div>
					<div class="box">
						<div class="nome">{{oferta.Servico.nome}}</div>
						<div class="line quantidade">
							<label>Quantidade: </label>
							<input type="number" name="quantidade_{{oferta.Servico.id}}" min="1" max="100" ng-click="calcula()" ng-model="oferta.Servico.quantidade" value="{{oferta.Servico.quantidade}}"></input>
						</div>
						<div class="line">
							<label>Valor Unit.: </label> 
							R$ {{oferta.Servico.valor}}
						</div>
						<div class="line">
							<label>Valor Total: </label>
							R$ <div style="float:right;margin-left:5px;" ng-model="oferta.Servico.total">{{oferta.Servico.total}}</div>
						</div>
					</div>

					<ion-option-button class="button-dark btn-remove" ng-click="remCompra('{{oferta.Servico.nome}}', {{oferta.Servico.id}})">
						<i class="icon ion-android-delete"></i>
					</ion-option-button>	

				</ion-item>
				<ion-item class="item item-complex resumo">
					<div class="item-content" style="padding:10px 0px 10px 10px !important">

						<div class="line total">
							<label>SubTotal: </label>
							R$ {{subtotal}}
						</div>

						<div class="line cep">
							<label>CEP:</label>
							<input type="tel" placeholder="00000-000" ng-model="cep_entrega" id="nro_cep" ng-keyup="getcepvalue(cep_entrega)" ui-mask="99999-999" ui-mask-placeholder ui-mask-placeholder-char="_" value="{{cep_entrega}}" />
						</div>

						<div class="line frete">
							<label>Entrega: </label>
							R$ <div style="float:right;margin-left:5px;" ng-model="taxa_de_entrega">{{taxa_de_entrega}}</div>
						</div>

						<div class="line total">
							<label>Total: </label>
							R$ {{total}}
						</div>
					</div>
				</ion-item>
			</ion-list>

			<div class="btn-action">
				<a href="#/app/pagamento" class="button button-full button-blue-dark">
					Efetuar Pagamento
				</a>	
			</div>
			
		</div>
	</ion-content>
</ion-view>
