<ion-view cache-view="false">
	<ion-nav-title>Configurações</ion-nav-title>
	<ion-content>
		<div class="list">
			<a class="item item-icon-left" href="#">
				<i class="icon ion-android-phone-portrait"></i>
				Versão do Sistema: 2.9.2 (209028)
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-android-phone-portrait"></i>
				Plataforma: {{platform}}
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-android-phone-portrait"></i>
				Versão do Android: {{version}}
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-android-phone-portrait"></i>
				Modelo: {{modelo}}
			</a>
			<a class="item item-icon-left" href="javascript:void(0);" ng-click="updateSystem()">
				<i class="icon ion-android-archive"></i>
				Atualizar
			</a>
		</div>
	</ion-content>
</ion-view>