<ion-view cache-view="false">
<style>
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}
form .progress {
    line-height: 15px;
}
.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}		
</style>
	<ion-nav-title>Cliente</ion-nav-title>
	<ion-content class="menu-space">
		<div style="background-color:#FFFFFF;display:table;width:100%;" >

			<div id="profile" ng-if="logado">
				<div style="display:table;position:relative;margin:0 auto;">
					<a href="#/app/avatar">
						<img src="{{getAvatar()}}" style="height:100px; width:100px; border-radius:50px;" />	
						<div class="opencam">
							<i class="icon ion-ios-camera" style="font-size:20px;color:#FFFFFF;"></i>	
						</div>
					</a>
				</div>
			</div>

			<label class="item item-input item-stacked-label">
				<span class="input-label">Nome</span>
				<input class="texto_contraste" type="text" ng-model="cliente.nome">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Sobrenome</span>
				<input type="text" placeholder="Silveira" ng-model="cliente.sobrenome">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Email</span>
				<input type="email" placeholder="joaosilveira@gmail.com" ng-model="cliente.email" disabled="">
			</label>
			
			<label class="item item-input item-stacked-label">
				<span class="input-label">Data de Nasc.</span>
				<input type="tel" placeholder="00/00/0000" ng-model="cliente.data_nascimento" ui-mask="99/99/9999" ui-mask-placeholder ui-mask-placeholder-char="_">
			</label>					

			<label class="item item-input item-stacked-label">
				<span class="input-label">Cpf</span>
				<input type="tel" placeholder="000.000.000-00" ng-model="cliente.cpf" ui-mask="999.999.999-99" ui-mask-placeholder ui-mask-placeholder-char="_">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Telefone</span>
				<input type="tel" placeholder="(00) 0000.0000" ng-model="cliente.telefone" ui-mask="(99) 9999.9999" ui-mask-placeholder ui-mask-placeholder-char="_">
			</label>					
			<label class="item item-input item-stacked-label">
				<span class="input-label">Celular</span>
				<input type="tel" placeholder="(00) 0000.0000" ng-model="cliente.celular" ui-mask="(99) 9999.9999" ui-mask-placeholder ui-mask-placeholder-char="_">
			</label>					
			<label class="item item-input item-select">
				<span class="input-label">Sexo</span>
				<select ng-model="cliente.sexo">
					<option value="M" selected="">Masculino</option>
					<option value="F">Feminino</option>
				</select>
			</label>					
			<label class="item item-input item-stacked-label">
				<button style="margin-left:-10px" class="button button-full button-blue-dark" ng-click="salvaCliente()">Salvar</button>
			</label>

		</div>
	</ion-content>
</ion-view>
