<ion-view cache-view="false">
	<ion-nav-title ng-model="title">{{title}}</ion-nav-title>
	<ion-content class="menu-space">
		<div id="counter" ng-model="message">{{message}}</div>
		<div id="empresas">
			<ion-list>
				<ion-item class="empresa" ng-repeat="empresa in empresas" style="background-color:#FFFFFF">
					<div class="flag-open" ng-if="empresa.Empresa.aberta == 1"></div>
					<a href="#/app/empresa/{{empresa.Empresa.id}}" style="display:table; width:100%;" >
						<div class="imagem" style="float:left; display:table;">
							<img style="width:150px" src="{{empresa.Empresa.logo}}" />
						</div>
						<div class="box" style="display:table; padding-left:5px;">
							<div style="font-weight: bold; font-size:14px; vertical-align: top;">{{empresa.Empresa.nome_fantasia}}</div>
							<div style="font-size:12px; text-align: justify;">{{empresa.Empresa.categoria}}</div>
							<div style="font-size:12px; text-align: justify;">{{empresa.Empresa.descricao}}</div>
						</div>
						<div style="width:100%;float:left;font-size:14px;">
							<div style="float:left;width:50%;">
								<i class="icon ion-android-stopwatch"></i>&nbsp;{{empresa.Empresa.tempo_entrega}}&nbsp;min
							</div>
							<div style="float:left;width:50%;text-align:right;">
								<div ng-if="empresa.Empresa.aberta == 1"><i class="icon ion-android-happy"></i>&nbsp;Aberta</div>
								<div ng-if="empresa.Empresa.aberta == 0"><i class="icon ion-android-sad"></i>&nbsp;Fechada</div>
							</div>
						</div>
						<div class="distancia" style="width:100%;float:left;font-size:12px;">
							<i class="icon ion-android-pin"></i>&nbsp;Está empresa está a {{empresa.Empresa.distancia}} Km de distância.
						</div>
					</a>
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>