<ion-view cache-view="false">
	<ion-nav-title ng-model="title">{{title}}</ion-nav-title>
	<ion-content class="menu-space">

		<div id="empresa" style="width:100%;display:table;background-color:#FFFFFF;padding:10px;">
			<div class="flag-open" ng-if="empresa.Empresa.aberta == 1"></div>
			<div class="foto" style="width:100%;text-align: center;" >
				<img src="{{empresa.Empresa.logo}}" />
			</div>
			<div class="info" style="font-color:#AAAAAA;margin-top:5px;">
				<div style="font-size:20px;font-weight:bold;">{{empresa.Empresa.categoria_mae}}</div>
				<div style="font-size:16px;font-weight:bold;margin:10px 0px;">{{empresa.Empresa.nome_fantasia}}</div>
				<div style="margin-bottom:10px;">{{empresa.Empresa.descricao}}</div>
				<div style="float:left;width:100%;">
					<div style="float:left;width:33%;">
						<i class="icon ion-android-stopwatch"></i>&nbsp;{{empresa.Empresa.tempo_entrega}}&nbsp;min
					</div>
					<div style="float:left;width:33%;text-align: center;">
						<i class="icon ion-android-bicycle"></i>&nbsp;R$&nbsp;{{empresa.Empresa.taxa_entrega}}
					</div>
					<div style="float:left;width:33%;text-align:right;margin-bottom:5px;">
						<div ng-if="empresa.Empresa.aberta == 1"><i class="icon ion-android-happy"></i>&nbsp;Aberta</div>
						<div ng-if="empresa.Empresa.aberta == 0"><i class="icon ion-android-sad"></i>&nbsp;Fechada</div>
					</div>
				</div>
				<div style="float:left;width:100%;margin-bottom:10px;">
					<i class="icon ion-android-pin"></i>&nbsp;Está empresa está a {{empresa.Empresa.distancia}} Km de distância.
				</div>
			</div>	
			<div style="float:left;width:100%;padding-top:5px;border-top:1px solid #CCCCCC;"><h4>Serviços</h4></div>
		</div>
		<div id="ofertas" style="background-color:#FFFFFF;margin-top:0px;">
			<div id="carrinho">
				<ion-list ng-controller="CarrinhoCtrl" show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
					<ion-item ng-repeat="oferta in empresa.Servico" class="item-thumbnail-left">
						<a href="#/app/oferta/{{oferta.Servico.id}}" style="display:table;width:100%;" >
							<div class="imagem"><img src="{{oferta.Servico.imagem}}" /></div>
							<div>
								<div style="font-weight:bold;margin-bottom:5px;">{{oferta.Servico.nome}}</div>
								<div style="text-align:justify;">{{oferta.Servico.resumo}}</div>
								<div style="text-align: right;"><i class="icon ion-cash"></i>&nbsp;R$&nbsp;{{oferta.Servico.valor}}</div>
							</div>
							<ion-option-button class="button-dark btn-remove" ng-click="addCompra({{oferta.Servico.id}})">
								<i class="icon ion-android-cart"></i>
							</ion-option-button>
							<ion-option-button class="button-assertive btn-remove" ng-click="checkFavorito({{oferta.Servico.id}})">
								<i class="icon ion-heart"></i>
							</ion-option-button>
						</a>
					</ion-item>
				</ion-list>
			</div>
		</div>

	</ion-content>
</ion-view>	