<ion-view cache-view="false">
	<style>
	#carrinho .item-content{min-height:100px !important;}
	</style>
	<ion-nav-title>Endereços</ion-nav-title>
	<ion-content class="menu-space">
		<div id="carrinho">
			<ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
				<ion-item ng-repeat="endereco in enderecos" class="item-thumbnail-left">
					<a href="#/app/endereco/{{endereco.Endereco.id}}" style="font-size:12px;" >
						<b>{{endereco.Endereco.tipo_endereco}}</b><br/>
						{{endereco.Endereco.endereco}}, {{endereco.Endereco.numero}}<br/>
						{{endereco.Endereco.bairro}} - {{endereco.Endereco.cidade}} - {{endereco.Endereco.estado}}<br/>
						<span ng-if="endereco.Endereco.complemento">{{endereco.Endereco.complemento}}<br/></span>
						CEP {{endereco.Endereco.cep}}
					</a>
					<ion-option-button class="button-assertive btn-remove" ng-click="editEnd(endereco.Endereco.id)">
						<i class="icon ion-android-create"></i>
					</ion-option-button>
					<ion-option-button class="button-dark btn-remove" ng-click="removeEnd(endereco.Endereco.id, endereco.Endereco.tipo_endereco)">
						<i class="icon ion-android-delete"></i>
					</ion-option-button>
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
	<div style="position:absolute;right:10px;bottom:55px;display:table; z-index:999999">
		<a href="javascript:void(0);" ng-click="openModalEnd()">
			<i class="icon ion-android-add-circle" style="font-size:50px;color:#2D5F8B;" ></i>
		</a>
	</div>
</ion-view>