<ion-view cache-view="false">
	<ion-nav-title>{{status}}</ion-nav-title>
	<style>
	.status{ padding:15px 0px; margin-top:10px; text-align: center; background:#FFFFFF; }
	.message{font-size:18px;margin:5px 5px 25px 5px;text-align: center;font-weight: bold;}
	.message.aprovada{ color:#00932c; }
	.message.reprovada{ color:#a30000; }
	.linha{ padding:3px 10px; text-align: right }
	.linha label{float:left; width:120px; text-align: left; font-weight: bold; }
	.linha.par{background-color:#EEEEEE;}
	</style>
	<ion-content class="menu-space">
		<div style="background-color: #FFFFFF;display: table;width:100%;">
			<div class="status">
				<img src="img/{{image}}" style="height:150px;" />
			</div>
			<div class="message {{classe}}">
				{{message}}
			</div>
			<div style="font-weight: bold;font-size:22px;width:100%;margin-bottom:10px;padding:0px 10px;">Dados do Pedido</div>
			<div class="linha par">
				<label>Código</label>
				{{pedido.Pedido.codigo}}
			</div>
			<div class="linha">
				<label>Data do Pedido</label>
				{{pedido.Pedido.dt_pedido_for}}
			</div>
			<div class="linha par">
				<label>Taxa de Entrega</label>
				R$ {{pedido.Pedido.total_taxa_entrega_for}}
			</div>
			<div class="linha">
				<label>Valor Total</label>
				R$ {{pedido.Pedido.total_valor_for}}
			</div>
			<div class="linha par" >
				<label>CEP da Entrega</label>
				{{pedido.Pedido.cep_entrega}}
			</div>
			<div ng-if="pedido.ClienteEndereco.tipo_endereco" style="padding:1px 10px;margin:10px 0px 10px 0px;">
				<b>{{pedido.ClienteEndereco.tipo_endereco}}</b><br/>
				{{pedido.ClienteEndereco.endereco}}, {{pedido.ClienteEndereco.numero}}<br/>
				{{pedido.ClienteEndereco.complemento}}<br/>
				{{pedido.ClienteEndereco.bairro}} - {{pedido.ClienteEndereco.cidade}}<br/>
				{{pedido.ClienteEndereco.estado}} - {{pedido.ClienteEndereco.pais}}
			</div>
			<div>
				<button class="button button-full button-blue-dark" ng-click="backHome()">Voltar</button>
			</div>
			<div ng-if="newpgto">
				<button class="button button-full button-blue-dark" ng-click="efectPayment()">Efetuar Pagamento</button>
			</div>			
		</div>
	</ion-content>
</ion-view>	