<ion-side-menus enable-menu-with-back-views="false">

	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable">
			<ion-nav-back-button></ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-android-menu" menu-toggle="left"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-header-bar class="bar-stable">
			<h1 class="title">Menu</h1>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<div ng-if="logado" style="display:table;width:100%;padding:5px 10px;">
					<img src="{{getAvatar()}}" style="width:100px;height:100px;border-radius:50px;" />
					<div style="font-size:8px;">
						<label style="width:100%;float:left;font-size:11px;"><b>{{nome}} {{sobrenome}}</b></label>
						<label style="width:100%;float:left;font-size:11px;">{{email}}</label>
					</div>
				</div>
				<div id="menu">
					<div ng-if="!logado">
						<ion-item nav-clear menu-close href="#" ng-click="login()">
							<i class="icon ion-locked"></i>
							Login
						</ion-item>
						<ion-item nav-clear menu-close href="#/app/cadastro">
							<i class="icon ion-android-person-add"></i>
							Cadastre-se
						</ion-item>
					</div>
					<div ng-if="logado">
						<ion-item nav-clear menu-close nav-direction="forward" href="#/app/dados">
							<i class="icon ion-android-person"></i>
							Dados Pessoais
						</ion-item>

						<ion-item nav-clear menu-close nav-direction="forward" href="#/app/enderecos">
							<i class="icon ion-android-pin"></i>
							Endereços
						</ion-item>

						<ion-item nav-clear menu-close nav-direction="forward" href="#/app/pedidos">
							<i class="icon ion-android-list"></i>
							Pedidos
						</ion-item>
						<ion-item nav-clear menu-close nav-direction="forward" href="#/app/senha">
							<i class="icon ion-android-lock"></i>
							Alterar Senha
						</ion-item>
						<!--
						<ion-item nav-clear menu-close nav-direction="forward" href="#/app/locate">
							<i class="icon ion-android-pin"></i>
							Localização
						</ion-item>
						<ion-item nav-clear menu-close nav-direction="forward" href="#/app/camera">
							<i class="icon ion-android-camera"></i>
							Câmera
						</ion-item>
						-->
					</div>

					<ion-item nav-clear menu-close nav-direction="forward" href="#/app/config">
						<i class="icon ion-android-settings"></i>
						Configurações
					</ion-item>
					<ion-item nav-clear menu-close nav-direction="forward" href="#/app/sobre">
						<i class="icon ion-document-text"></i>
						Sobre
					</ion-item>
					<ion-item nav-clear menu-close href="#" ng-click="logout()" ng-if="logado">
						<i class="icon ion-power"></i>
						Logout
					</ion-item>
					<ion-item nav-clear menu-close href="#" ng-click="closeApp()">
						<i class="icon ion-android-exit"></i>
						Sair
					</ion-item>
				</div>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>