<ion-view cache-view="false">
	<ion-nav-title ng-model="title">{{title}}</ion-nav-title>
	<ion-content class="content menu-space">
		<div id="oferta">
			<div class="foto" ng-controller="FavoritoCtrl">
				<div class="favorite">
					<a href="javascript:void(0);" ng-click="checkFavorito({{oferta.Servico.id}})" >
						<i class="icon {{iconFavorito}}"></i>
					</a>
				</div>				
				<img src="{{oferta.Servico.imagem}}" />
			</div>
			<div class="info">
				<div class="nome">
					<h4>{{oferta.Servico.nome}}</h4>
				</div>
				<div class="descricao">
					{{oferta.Servico.descricao}}
				</div>
				<div class="valor">
					<h3>R$ {{oferta.Servico.valor}}</h3>
				</div>
			</div>			
			<div ng-controller="CarrinhoCtrl">
				<button class="button button-full button-blue-dark" ng-click="addCompra({{oferta.Servico.id}})">Comprar</button>
			</div>			
		</div>
	</ion-content>
</ion-view>	