<ion-view cache-view="false">
	<ion-nav-title>Pagamento</ion-nav-title>
	<style>
	.input-label{width:100% !important;}
	</style>
	
	<ion-content class="menu-space">
		<div class="list" style="width:100%;background:#FFFFFF; display:table;">
			<div nf-if="errors">
				<div style="width:100%;float:left;color:#FF0000;padding:1px 10px;" ng-repeat="message in errors">{{message}}</div>
			</div>
			<form action="" method="post" id="pay" name="pay" onsubmit="return false" >
				<label class="item item-input item-stacked-label">
					<span class="input-label">Email</span>
					<input type="text" name="email" ng-model="dadospagto.email" placeholder="Email">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Número do Cartão</span>
					<input type="tel" name="cardNumber" id="cardNumber" data-checkout="cardNumber" ng-model="dadospagto.cardNumber" ng-keyup="getPayments()" placeholder="4509 9535 6623 3704" />
					<div nf-if="flagCreditCard" style="position:absolute;top:10px;right:5px;width:54px;height:17px;">
						<img src="{{flagCreditCard}}" />
					</div>					
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Validade (Mês/Ano)</span>
					<input type="tel" name="cardExpirationMonth" id="cardExpirationMonth" data-checkout="cardExpirationMonth" ng-model="dadospagto.cardExpirationMonth" placeholder="Mês" style="float:left;width:50%">
					<input type="tel" name="cardExpirationYear" id="cardExpirationYear" data-checkout="cardExpirationYear" ng-model="dadospagto.cardExpirationYear"  placeholder="Ano" style="float:left;width:50%">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Nome no Cartão</span>
					<input type="text" name="cardholderName" id="cardholderName" data-checkout="cardholderName" ng-model="dadospagto.cardholderName" placeholder="Nome no Cartão">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Código de Segurança</span>
					<input type="tel" name="securityCode" id="securityCode" data-checkout="securityCode" ng-model="dadospagto.securityCode" placeholder="Código de Segurança">
				</label>
				<label class="item item-input item-select">
					<span class="input-label">Tipo Documento</span>
					<select name="docType" id="docType" data-checkout="docType" ng-model="dadospagto.docType">
						<option value="">Selecione</option>
						<option value="cpf" selected>CPF</option>
					</select>
				</label>				

				<label class="item item-input item-stacked-label">
					<span class="input-label">Documento</span>
					<input type="text" name="docNumber" id="docNumber" data-checkout="docNumber" ng-model="dadospagto.docNumber" placeholder="Documento">
				</label>
				<label class="item item-input item-select">
					<div class="input-label">Entrega</div>
					<select ng-model="dadospagto.entrega" ng-change="selectEntrega()" ng-options="end as end.Endereco.tipo_endereco for end in enderecos track by end.Endereco.id">
						<option value="" selected>Selecione</option>
					</select>
				</label>		
				<label ng-if="dadospagto.entrega">
					<div style="padding:10px">
					<b>{{dadospagto.entrega.Endereco.tipo_endereco}}</b><br/>
					{{dadospagto.entrega.Endereco.endereco}}, {{dadospagto.entrega.Endereco.numero}}<br/>
					{{dadospagto.entrega.Endereco.complemento}}<br/>
					{{dadospagto.entrega.Endereco.cep}}<br/>
					{{dadospagto.entrega.Endereco.bairro}} - {{dadospagto.entrega.Endereco.cidade}}<br/>
					{{dadospagto.entrega.Endereco.estado}}
					</div>
				</label>

				<label class="item item-input item-select">
					<div class="input-label">Parcelamento</div>
					<select ng-model="dadospagto.installments" ng-options="parc as parc.recommended_message for parc in getPaymentInfos track by parc.installments">
						<option value="" selected>Selecione</option>
					</select>
				</label>	
				<label>
					<div style="padding:10px">{{dadospagto.installments.recommended_message}}</div>
				</label>			
				
				<div>
					<button class="button button-full button-blue-dark" ng-click="endPayment()">Finalizar Compra</button>
				</div>			
			</form>
		</div>	
	</ion-content>
</ion-view>	