<ion-view cache-view="false">
	<ion-nav-title>Pedidos</ion-nav-title>
	<ion-content class="menu-space">
		<style>
		#pedidos .item{padding:5px 0px !important; font-family: Arial; }
		#pedidos .linha {width:100%; padding:0px 5px; text-align: right; font-size:14px; }
		#pedidos .linha > label{ float:left; width:120px; text-align: left !important;}
		#pedidos .linha.head, .linha.head label {font-weight:bold;}
		#pedidos .pedido{ background-color: #FFFFFF; }
		#pedidos .even{ background-color: #9dc6ea !important; }
		</style>
		<div id="pedidos" ng-controller="PedidosCtrl">
			<ion-list>
				<ion-item ng-if="noresults">
					Não foram realizados pedidos
				</ion-item>
				<ion-item class="pedido" ng-repeat="pedido in pedidos" ng-class-even="'even'">
					<a href="#/app/pedido/{{pedido.Pedido.id}}">
						<div class="linha head">
							<label>Código: </label>
							{{pedido.Pedido.codigo}}
						</div>
						<div class="linha">
							<label>Data do pedido:</label>
							{{pedido.Pedido.dt_pedido}} - {{pedido.Pedido.hr_pedido}}
						</div>
						<div class="linha">
							<label>Valor:</label>
							R$ {{pedido.Pedido.total_valor}}
						</div>
						<div class="linha">
							<label>Status:</label>
							{{pedido.Pedido.status_label}}
						</div>
					</a>
				</ion-item>
			</ion-list>
		</div>	
	</ion-content>
</ion-view>
