<ion-view cache-view="false">
	<ion-nav-title>Altera Senha</ion-nav-title>
	<ion-content>
		<div ng-controller="ConfigCtrl" style="background-color:#FFFFFF;display:table;width:100%">
			<label class="item item-input item-stacked-label">
				<span>Senha Antiga</span>
				<input type="password" ng-model="cliente.pass_old">
			</label>
			<label class="item item-input item-stacked-label">
				<span>Nova Senha</span>
				<input type="password" ng-model="cliente.pass_new">
			</label>
			<label class="item item-input item-stacked-label">
				<span>Repita Nova Senha</span>
				<input type="password" ng-model="cliente.pass_conf">
			</label>
			<button class="button button-full button-blue-dark" ng-click="changePassw()">
				Salvar Dados
			</button>
		</div>
	</ion-content>
</ion-view>
