<ion-view>
	<ion-nav-title>Sobre TEntrego</ion-nav-title>
	<ion-content class="menu-space">
		<div style="padding:10px;margin:10px;border-radius:5px;background-color:#FFFFFF;">
			<div style="width:100%; text-align: center;margin-bottom:10px;">
				<img style="width:100px;height:100px;border-radius:5px;" src="img/icon.png"/>				
			</div>
			<p style="text-align: justify;">
			Sistema TEntrego Mobile desenvolvido pela BrasIT, para fornecer um serviço de 
			tele-entrega de qualidade de produtos e serviços.
			<br/><br/>
			Desenvolvedores:<br/>
			Ângelo Soldati - <a href="https://www.facebook.com/angelo.soldati.7">Facebook</a><br/>
			Adriano Leite - <a href="https://www.facebook.com/adrianolte">Facebook</a>
			</p>
		</div>
	</ion-content>
</ion-view>