<ion-view view-title="Cadastrar">
  <ion-content>
    <div class="list">
      {{cliente}}
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="João" ng-model="cliente.nome">
      </label>
        <label class="item item-input item-stacked-label">
        <span class="input-label">Sobrenome</span>
        <input type="text" placeholder="Silveira" ng-model="cliente.sobrenome">
</label>
  <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="joaosilveira@gmail.com" ng-model="cliente.email">
      </label>
        <label class="item item-input item-stacked-label">

        <span class="input-label">Senha</span>
        <input type="password" placeholder="*******" ng-model="cliente.senha_um">
      </label>
        <label class="item item-input item-stacked-label">

        <span class="input-label">Senha novamente</span>
        <input type="password" placeholder="*******" ng-model="cliente.senha_dois">
      </label>
        <label class="item item-input item-stacked-label">

        <span class="input-label">Data de nascimento</span>
        <input type="datetime" placeholder="00.00.0000" ng-model="cliente.data_nasc">
      </label>
        <label class="item item-input item-stacked-label">

        <span class="input-label">Cpf</span>
        <input type="number" placeholder="000.000.000-00" ng-model="cliente.cpf">
      </label>
        <label class="item item-input item-stacked-label">

        <span class="input-label">Telefone</span>
        <input type="number" placeholder="0000-0000" ng-model="cliente.telefone">
      </label>
        <label class="item item-input item-stacked-label">

        <ion-list ng-model="cliente.sexo">
            <!--<span class="input-label">Sexo</span>-->
        <div class="row">
        <div style="margin-left:-10px" class="col col-50" >
            <ion-radio ng-model="choice" ng-value="'M'">Masculino</ion-checkbox>
        </div>
        <div class="col col-50">
            <ion-radio ng-model="choice" ng-value="'F'">Feminino</ion-checkbox>
        </div>
        </div>
        </ion-list>
      </label>
        <label class="item item-input item-stacked-label">
        <button style="margin-left:-10px" class="button button-block button-stable">
          Adicionar Foto
        </button>
      </label>
        <label class="item item-input item-stacked-label">

        <span class="input-label">Cep</span>
        <input type="datetime" placeholder="00000-000" ng-model="cliente.cep">
      </label>
        <label class="item item-input item-stacked-label">

        <span class="input-label">Cidade</span>
        <input type="text" placeholder="POA" ng-model="cliente.cidade">
      </label>
        <label class="item item-input item-stacked-label">

        <span class="input-label">Estado</span>
        <input type="text" placeholder="RS" ng-model="cliente.estado">
      </label>
        <label class="item item-input item-stacked-label">

        <span class="input-label">Pais</span>
        <input type="text" placeholder="BR" ng-model="cliente.pais">
      </label>
        <label class="item item-input item-stacked-label">

        <span class="input-label">Endereço</span>
        <input type="text" placeholder="Rua Amazonas" ng-model="cliente.endereco">
      </label>
        <label class="item item-input item-stacked-label">

        <span class="input-label">Numero</span>
        <input type="datetime" placeholder="0000" ng-model="cliente.numero">
      </label>
        <label class="item item-input item-stacked-label">

        <span class="input-label">Complemento</span>
        <input type="text" placeholder="Parque marinha" ng-model="cliente.complemento">
      </label>
      <label class="item item-input item-stacked-label">
      <button style="margin-left:-10px" class="button button-full button-dark">
      Salvar Dados
      </button>
        <div style="margin-top:50px"></div>
    </label>



    </div>
  </ion-content>
</ion-view>
