<ion-view>
	<ion-nav-title>Configurações</ion-nav-title>
	<ion-content>
		<div>
			<img width="95%" height="300" ng-src = "{{pictureUrl}}" style="margin-left:8px;margin-top:15px;">	
			<button class="button button-block button-dark" ng-click="takePicture()">Foto</button>
			<button class="button button-block button-dark" ng-click="getPicture()">Galeria</button>
		</div>
	</ion-content>
</ion-view>
