<ion-view>
	<ion-nav-title>Configurações</ion-nav-title>
	<ion-content>
		<div class="list">
			<a class="item item-icon-left" href="#/app/dados">
				<i class="icon ion-android-person"></i>
				Dados Pessoais
			</a>

			<a class="item item-icon-left" href="#/app/endereco">
				<i class="icon ion-location"></i>
				Endereços
				<!--  <i class="icon ion-ios-telephone-outline"></i>-->
			</a>

			<a class="item item-icon-left" href="#/app/pedidos">
				<i class="icon ion-ios-paper"></i>
				Pedidos
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-card"></i>
				Formas de Pagamentos
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-locked"></i>
				Alterar Senha
				<!--  <span class="badge badge-assertive">0</span>-->
			</a>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-person-stalker"></i>
				Sobre Tentrego
			</a>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-pinpoint"></i>
				Latitude: {{latitude}}
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-pinpoint"></i>
				Longitute: {{longitude}}
			</a>
		</div>
	</ion-content>
</ion-view>
