
<ion-view view-title="Alterar">
  <ion-content>
    <div class="list">
      {{cliente}}
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nome</span>
        <input class="texto_contraste" type="text" placeholder="João" ng-model="cliente.nome">
      </label>
        <label class="item item-input item-stacked-label">
        <span class="input-label">Sobrenome</span>
        <input type="text" placeholder="Silveira" ng-model="cliente.sobrenome">
</label>
  <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="joaosilveira@gmail.com" ng-model="cliente.email">
      </label>

        <label class="item item-input item-stacked-label">
        <span class="input-label">Data de nascimento</span>
        <input type="datetime" placeholder="00.00.0000" ng-model="cliente.data_nasc">
      </label>

        <label class="item item-input item-stacked-label">
        <span class="input-label">Cpf</span>
        <input type="number" placeholder="000.000.000-00" ng-model="cliente.cpf">
      </label>

        <label class="item item-input item-stacked-label">
        <span class="input-label">Telefone</span>
        <input type="number" placeholder="0000-0000" ng-model="cliente.telefone">
      </label>

        <label class="item item-input item-stacked-label">
        <ion-list ng-model="cliente.sexo">
            <!--<span class="input-label">Sexo</span>-->
        <div class="row">
        <div style="margin-left:-10px" class="col col-50" >
            <ion-radio ng-model="choice" ng-value="'M'">Masculino</ion-checkbox>
        </div>
        <div class="col col-50">
            <ion-radio ng-model="choice" ng-value="'F'">Feminino</ion-checkbox>
        </div>
        </div>
        </ion-list>
      </label>
        <label class="item item-input item-stacked-label">
        <button style="margin-left:-10px" class="button button-block button-stable">
          Adicionar Foto
        </button>
      </label>

      <label class="item item-input item-stacked-label">
      <button style="margin-left:-10px" class="button button-full button-dark">
    Salvar Dados
      </button>
      <div style="margin-top:50px"></div>
    </label>




    </div>




  </ion-content>
</ion-view>
