<ion-view view-title="Cadastrar">
  <ion-content>
    <div class="list">
      {{cliente}}
        <label class="item item-input item-stacked-label">
        <span class="input-label">Cep</span>
        <input type="datetime" placeholder="00000-000" ng-model="cliente.cep">
      </label>
        <label class="item item-input item-stacked-label">

        <span class="input-label">Cidade</span>
        <input type="text" placeholder="POA" ng-model="cliente.cidade">
      </label>
        <label class="item item-input item-stacked-label">

        <span class="input-label">Estado</span>
        <input type="text" placeholder="RS" ng-model="cliente.estado">
      </label>
        <label class="item item-input item-stacked-label">

        <span class="input-label">Pais</span>
        <input type="text" placeholder="BR" ng-model="cliente.pais">
      </label>
        <label class="item item-input item-stacked-label">

        <span class="input-label">Endereço</span>
        <input type="text" placeholder="Rua Amazonas" ng-model="cliente.endereco">
      </label>
        <label class="item item-input item-stacked-label">

        <span class="input-label">Numero</span>
        <input type="datetime" placeholder="0000" ng-model="cliente.numero">
      </label>
        <label class="item item-input item-stacked-label">

        <span class="input-label">Complemento</span>
        <input type="text" placeholder="Parque marinha" ng-model="cliente.complemento">
      </label>
      <label class="item item-input item-stacked-label">
      <button style="margin-left:-10px" class="button button-full button-dark">
      Adicionar Endereço
      </button>
        <div style="margin-top:50px"></div>
    </label>



    </div>
  </ion-content>
</ion-view>
