<ion-view>
	<ion-nav-title>TEntrego</ion-nav-title>
	<ion-content>
		<div style="margin-left:15px; margin-top:75px">
			<div class="row"style="margin-top:20px">
				<div class="col col-33" ></div>
					<div class="col col-33">
						<a href="#/app/ofertas/alimentacao" class="button-a button2 icon-left button-positive">
							<img style="margin-bottom:-25px"src="img/icones/food.png"/>
							</br>Alimentação
						</a>
					</div>
				<div class="col col-33"></div>
			</div>
			<div class="row">
				<div class="col col-33">
					<a href="#/app/ofertas/bebidas" style="margin-top:-25px;" class="button-a button2 icon-left button-positive">
						<img style="margin-bottom:-25px"src="img/icones/drink.png"/></br>
						Bebidas
					</a>
				</div>
				<div class="col col-33">
					<a href="#/app/favoritos" style="margin-top:20px; margin-left:-15px;width:120px; height:120px;" class="button-a button2 icon-left">
				<img style="margin-bottom:-25px; margin-top:25px"src="img/icones/star.png"/></br>
						Favorites
					</a>
				</div>
				<div class="col col-33">
					<a href="#/app/ofertas/tecnologia" style="margin-top:-25px;" class="button-a button2 icon-left button-positive">
						<img style="margin-bottom:-25px"src="img/icones/technology.png"/></br>
						Técnologia
					</a>
				</div>
			</div>
			<div style="margin-top:-10px;" class="row">
				<div class="col col-33">
					<a href="#/app/ofertas/farmacia" style="margin-top:-50px;" class="button-a button2 icon-left button-positive" >
						<img style="margin-bottom:-25px"src="img/icones/tool.png"/></br>
						Serviços
					</a>
				</div>
				<div class="col col-33"></div>
				<div class="col col-33">
					<a href="#/app/ofertas/mercado" style="margin-top:-50px;" class="button-a button2 icon-left button-positive">
						<img style="margin-bottom:-25px"src="img/icones/market.png"/></br>
						Mercado
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col col-33"></div>
				<div class="col col-33 center">
					<a href="#/app/ofertas/beleza" style="margin-top:-25px;" class="button-a button2 icon-left button-positive">
						<img style="margin-bottom:-25px"src="img/icones/women.png"/></br>
						Cosméticos
					</a>
				</div>
				<div class="col col-33"></div>
			</div>
		</div>
	</ion-content>
</ion-view>