<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content style="background:white;">
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-dark" type="submit">Entrar</button>
          <a ng-href="#/app/cadastrar" class="button button-block button-dark">Criar Conta</a>
          <a ng-click="closeLogin()" class="button button-block button-assertive">Cancelar</a>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
