<ion-side-menus enable-menu-with-back-views="false">

	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable">
			<ion-nav-back-button></ion-nav-back-button>
			<ion-nav-buttons side="left">	
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-header-bar class="bar-stable">
			<h1 class="title">Menu</h1>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item nav-clear menu-close style="color:#999999" href="#" ng-click="login()">
					<i class="icon ion-locked"></i>
					Login
				</ion-item>
				<ion-item nav-clear menu-close style="color:#999999" href="#/app/home">
					<i class="icon ion-home"></i>
					Home
				</ion-item>
				<ion-item nav-clear menu-close style="color:#999999" href="#/app/ofertas/">
					<i class="icon ion-pricetags"></i>
					Ofertas
				</ion-item>
				<ion-item nav-clear menu-close style="color:#999999" href="#/app/search">
					<i class="icon ion-search"></i>
					Pesquisa
				</ion-item>
				<ion-item nav-clear menu-close style="color:#999999" href="#" ng-click="toggleLeft()">
					<i class="icon ion-pinpoint"></i>
					Localização
				</ion-item>
				<ion-item nav-clear menu-close style="color:#999999" href="#/app/camera">
					<i class="icon ion-camera"></i>
					Câmera
				</ion-item>
				<ion-item nav-clear menu-close style="color:#999999" href="#" ng-click="closeApp()">
					<i class="icon ion-power"></i>
					Sair
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>