<ion-view>
	<ion-nav-title>Oferta</ion-nav-title>
	<ion-content>
		<div id="oferta" style="color:#FFFFFF;">
			<div style="width:100%;float:left;">
				<img width="100%" src="http://www.tentrego.com.br/tentrego/photos/services/{{oferta.Servico.imagem}}" />
			</div>
			<div id="oferta2" style="margin-top:150px">
				<div class="row">
					<div class="col col-50">
						<h4 class="titulo_oferta">{{oferta.Servico.nome}}</h4>
					</div>
					<div class="col col-50">
						<h3 class="preco_oferta">R$ {{oferta.Servico.valor}}</h3>
					</div>
				</div>
				<div>{{oferta.Servico.descricao}}</div>
			</div>
			<button class="button button-full button-dark">Comprar</button>
			<button class="button button-full button-assertive">Favoritar</button>
		</div>
	</ion-content>
</ion-view>
