<ion-view>
	<ion-nav-title>{{title}}</ion-nav-title>
	<ion-content>
		<div class="search-input">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="search" ng-model="soferta" placeholder="Search">
			</label>
		</div>
		<div style="padding-bottom:50px">
			<ion-list>

				<ion-item ng-if="noresults">
					Não foram encontradas ofertas
				</ion-item>

				<div id="item" ng-repeat="oferta in ofertas | filter : soferta">
					<a href="#/app/oferta/{{oferta.Servico.id}}">
						<div class="row">
  							<div class="col col-50 image_oferta">	<div class="img-oferta">
										<img width="150" src="http://www.tentrego.com.br/tentrego/photos/services/{{oferta.Servico.imagem}}" />
									</div></div>



						<div id="box-oferta">

							<div class="info-oferta">

								<div class="categoria texto_oferta">{{oferta.Servico.nome}}</div>
								<div class="nome texto_oferta">{{oferta.Servico.descricao}}</div>
								<div class="valor preco_oferta">R$ {{oferta.Servico.valor}}</div>
							</div>
						</div>
									</div>
					</a>
				</div>
				<!--
				<ion-item ng-repeat="oferta in ofertas | filter : soferta" href="#/app/oferta/{{oferta.Servico.id}}">
					<div id="box-oferta">
						<div class="img-oferta">
							<img width="120" src="http://www.tentrego.com.br/tentrego/photos/services/{{oferta.Servico.imagem}}" />
						</div>
						<div class="info-oferta">
							<div>{{oferta.Servico.categoria}}</div>
							<div>{{oferta.Servico.nome}}</div>
							<div><h2>R$ {{oferta.Servico.valor}}</h2></div>
						</div>
					</div>
				</ion-item>
				-->
			</ion-list>
		</div>
	</ion-content>
</ion-view>
