<ion-view view-title="Pedidos Realizados">
  <ion-content>
    <ul class="list">
      <a href="#/app/pedido"><li class="item">
        Pedido 01
      </li></a>
      <li class="item">
        Pedido 02
      </li>
      <li class="item">
        Pedido 03
      </li>
      <li class="item">
        Pedido 04
      </li>
  </ul>
  </ion-content>
</ion-view>
