<ion-view view-title="Pedido 23424">
  <ion-content>


  <div class="item item-divider">
   Dados Pessoais
  </div>
  <ul class="list">
      <li class="item">
        <strong>Nome:</strong> Angelo Soldati
      </li>
      <li class="item">
      <strong>Telefone:</strong> 51 8435-5929
      </li>
      <li class="item">
      <strong>Endereço:</strong> Endereço
      </li>
      <li class="item">
      <strong>Numero:</strong> 351
      </li>
      <div class="item item-divider">
       Produtos
      </div>
      <li class="item" ng-repeat="oferta in ofertas | filter : soferta">
        <div >
						<div class="row">
  							<div style="margin-right:25px"class="col col-50 image_oferta">	<div class="img-oferta">
										<img width="150" src="http://www.tentrego.com.br/tentrego/photos/services/{{oferta.Servico.imagem}}" />
									</div></div>
						<div id="box-oferta">
							<div class="info-oferta">
								<div class="categoria texto_oferta">{{oferta.Servico.nome}}</div>
								<div class="nome texto_oferta">{{oferta.Servico.descricao}}</div>
								<div class="valor preco_oferta">R$ {{oferta.Servico.valor}}</div>
							</div>
						</div>
				      </div>

				</div>
      </li>
  </ul>






  </ion-content>
</ion-view>
