<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="lib/ngImgCrop/compile/unminified/ng-img-crop.css" rel="stylesheet">
    
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-ui-mask/dist/mask.js"></script>
    <script src="js/soap/soapclient.js"></script>
    <script src="js/soap/angular.soap.js"></script>
  
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="lib/ngFileUpload/dist/ng-file-upload-shim.min.js"></script>
    <script src="lib/ngFileUpload/dist/ng-file-upload.min.js"></script>    
    <script src="lib/ngImgCrop/compile/unminified/ng-img-crop.js"></script>    
    <script src="cordova.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/controllers.js"></script>
    
    <script src="js/controllers/home.ctrl.js"></script>
    <script src="js/controllers/empresas.ctrl.js"></script>
    <script src="js/controllers/ofertas.ctrl.js"></script>
    <script src="js/controllers/search.ctrl.js"></script>
    <script src="js/controllers/config.ctrl.js"></script>
    <script src="js/controllers/favorito.ctrl.js"></script>
    <script src="js/controllers/carrinho.ctrl.js"></script>
    <script src="js/controllers/pedidos.ctrl.js"></script>
    <script src="js/controllers/enderecos.ctrl.js"></script>
    <script src="js/controllers/dados.ctrl.js"></script>
    <script src="js/controllers/cadastro.ctrl.js"></script>
    <script src="js/controllers/pagamento.ctrl.js"></script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6iOOjw8YHunT_w_HqU2AZhqS79ID3clk&libraries=places"></script>
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>    
</head>    
    
<body ng-app="starter">
    <ion-nav-view cache-view="false"></ion-nav-view>
    <div id="menu-footer" class="tabs tabs-icon-top" ng-controller="AppCtrl">
        <a id="menu_footer_card" menu-close="" nav-clear="" nav-direction="forward" class="tab-item" href="#/app/carrinho" ng-click="active('card')">
            <i class="icon ion-android-cart"></i>
        </a>
        <a id="menu_footer_home" menu-close="" nav-clear="" nav-direction="forward" class="tab-item" href="#/app/home" ng-click="backHome(); active('home')">
            <i class="icon ion-android-home"></i>
        </a>
        <a id="menu_footer_favorite" menu-close="" nav-clear="" nav-direction="forward" class="tab-item" href="#/app/favoritos" ng-click="active('favorite')">
            <i class="icon ion-android-favorite"></i>
        </a>
        <a id="menu_footer_search" menu-close="" nav-clear="" nav-direction="forward" class="tab-item" href="#/app/search" ng-click="active('search')">
            <i class="icon ion-android-search"></i>
        </a>
    </div>
</body>
</html>
