/* Empty. Add your own CSS if you like */
h3{ color:#4A87EE; padding-top:5px; margin-left:15px; }
.system-logo{ margin:5px; }
.search-input{ margin:15px; }

#menu-footer{ width:100%; text-align: center; margin-top:-3px; }
#menu-footer li{ display: inline; margin-left:30px; margin-right: 30px; color:#FFFFFF; }

.loading-content{ width: 100%; height: 100%; background: #EEEEEE; }
.button-a{ text-decoration: none; }

#oferta{padding:15px;color:#FFFFFF;}

#oferta2{padding: 15px;
    height: 250px;
    background: rgba(255, 255, 255, 0.35);
    color: #1e1e1e;}

.titulo_oferta{
color:#1e1e1e;
margin-top:3px;
font-size: 25px;
}

	.preco_oferta{
color:#1e1e1e;
font-weight: 700;
}

.image_oferta {
margin-top:-10px; margin-left:-10px;
}

.texto_oferta {
margin-top:-5px; margin-left:-8px;

}

.texto_contraste{

	color: #FFF!important;
	border: none!important;


}

#item{
	width:95%;
	height:94px;
	margin:0px auto 15px auto;
	padding:5px;
	background: rgba(255, 255, 255, 0.35);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	/* background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); */
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	/* background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
#box-oferta{position:relative;float:left;width: 100%;color: #1c1c1c;}
#box-oferta .img-oferta,#box-oferta .info-oferta,#box-oferta .btn-oferta{ float:left; }
#box-oferta .img-oferta{ margin-right:5px;  }
#box-oferta .btn-oferta{ float:right; margin-top:5px;}


#box-oferta .categoria { font-size:14px; font-weight: bold; margin-bottom:3px;  }
#box-oferta .nome { font-size:12px; }
#box-oferta .valor { position:absolute; bottom:5px; right:5px; font-size:14px;  }
