@font-face { font-family: Oswald; src: url('../fonts/Oswald-Regular.ttf') format("truetype"); }
@font-face { font-family: Lobster; src: url('../fonts/Lobster-Regular.ttf') format("truetype"); }

h3{ color:#4276A4; padding-top:5px; margin-left:15px; }
a{ text-decoration: none; color:#000000; }


.bar-header .title, .back-text, .button{ font-family: 'Lobster', cursive; font-size: 20px; }
.loading{ font-family: Oswald, sans-serif; }

span.back-text, .title{color:#FFFFFF;}

.icon-home{width:50px; height:50px; margin-top:15px; margin-left: 3px; }
.bar-header{ background-color:#2D5F8B !important; }
.scroll-content{ background-image: url('../img/background3.jpg'); background-position: center; background-color:rgba(0, 0, 0, 0.5); background-repeat: no-repeat; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%; }

.button2{ background-color:rgba(45, 95, 139, 0.55) !important; }
.menu .scroll-content{ background-color:#e0f0ff;  }
.item-complex .item-content, .item-radio .item-content{ background-color:#e0f0ff; }
.button-blue-dark{ background-color:#2D5F8B; color:#FFFFFF; font-family: 'Lobster', cursive; }
.button-blue-dark:hover{color:#EEEEEE;}
.button-blue-dark:active,.button-blue-dark:visited{background-color:#2D5F8B;}

.content{ padding:10px; }
.btn-action { margin:0 auto; }

.system-logo{ margin:5px; }
.search-input{ margin:15px; }

.menu-space{ margin-bottom:45px;}

.ng-hide { display: block!important; position: absolute; top: -9999px; left: -9999px; }

/* #menu-float{ position:absolute; width:360px; height:360px; padding:0px !important; display: table; text-align: center; margin-top:80px; } */
#menu-float .icon-central { margin-top:20px; margin-left:-5px;width:120px; height:120px;  }
#menu-float .icon-central img { width:120px; margin-left:-15px; }
#menu-float .icon-lateral { margin-top:-25px; }
#menu-float .icon-lateral img { margin-bottom: -25px; }
#menu-float .icon-lateral-2 { margin-top:-50px; }
#menu-float .icon-lateral-2 img { margin-bottom: -25px; }

#menu-footer{ background-color:#FFFFFF; height:45px; padding-top:10px; color:#4276A4; }
#menu-footer a:active, #menu-footer a.active { color:#2D5F8B; }
#menu-footer i {font-size:25px;}

.loading-content{ width: 100%; height: 100%; background: #EEEEEE; }
.button-a{ text-decoration: none; }

#counter{ padding:15px 15px; font-size:16px; color:#FFFFFF; }
#oferta{ position:relative; color:#FFFFFF; }
#oferta .info .nome, #oferta .info .valor, #oferta .info .descricao { width: 100%; float:left !important; }

#oferta .foto img { width:100%; margin-top:5px; }
#oferta .info { display:table; background: rgba(255, 255, 255, 0.35); color: #1e1e1e; margin-top:5px; padding:10px; }
#oferta .info .nome{ width:100% !important; margin-bottom:5px; }
#oferta .info .descricao{ min-height:50px; padding-bottom:5px; text-align: justify; }
#oferta .info .valor{ text-align: right; }

#oferta .favorite{ position:absolute; top:10px; right:10px; cursor:pointer; }
#oferta .favorite i{ font-size: 40px; color:#2D5F8B;  }

#favoritos_content .item-content{ background: rgba(255, 255, 255, 0); padding: 5px 5px 5px 5px; }
#favoritos_content .ion-item{  background: rgba(255, 255, 255, 0); padding: 5px 5px 5px 5px; border-color:red; }

#item{
	width:95%;
	min-height:80px;
	margin:0px auto 15px auto;
	padding:5px;
	background: rgba(255, 255, 255, 0.35);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	/* background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); */
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	/* background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
#item .img-oferta img{ width:125px; margin-top:-10px; margin-left:-10px; }
#item .titulo_oferta{ color:#1e1e1e; margin-top:3px; font-size: 25px; }
#item .preco_oferta{ color:#1e1e1e; font-weight: 700; }
#item .texto_oferta { margin-top:-10px; margin-left:-8px; }
#item .descricao_oferta { margin-top:-5px; margin-left:-8px; }
#item .texto_contraste{ color: #FFF!important; border: none!important; }

#box-oferta{position:relative;float:left;width: 100%;color: #1c1c1c;}
#box-oferta .img-oferta,#box-oferta .info-oferta,#box-oferta .btn-oferta{ float:left; }
#box-oferta .img-oferta{ margin-right:5px;  }
#box-oferta .btn-oferta{ float:right; margin-top:5px;}

#box-oferta .categoria { font-size:14px; font-weight: bold; margin-bottom:3px;  }
#box-oferta .nome { font-size:12px; }
#box-oferta .valor {/* position:absolute; */bottom:5px;right:5px;font-size:14px;float: right;}

#profile{ margin:10px 10px 10px 10px; }
#profile .avatar_dados{ position: relative;height: 150px;}
#profile .avatar_dados img{ border-radius:50px; -moz-box-shadow: 0px 6px 5px #ccc; -webkit-box-shadow: 0px 6px 5px #ccc; box-shadow: 0px 6px 5px #ccc;position: absolute;margin-bottom: 50px;top: 50%;left: 50%;transform: translate(-50%, -50%);}

#profile .opencam{ position:absolute;bottom:0px;right:0px;width:40px;height:40px;background-color: #2D5F8B; border-radius:50px; padding-top:8.5px; text-align: center; }

#profile .dados-pessoais label{ float:left; width: 100%; }
#profile .dados-pessoais .ng-binding{ font-size: 12px; }


#menu { padding-bottom:40px; font-family: Oswald, sans-serif; font-size:24px; }
#menu .item{ color:#606060; }
#menu .item i{ position:absolute; left:10px; margin-top:-3px; font-size: 24px; margin-right:15px; }
#menu .item-content{ padding: 10px 10px 10px 40px; }
#menu a:active, #config a:active{background-color: #2D5F8B !important; color:#FFFFFF !important; }


#carrinho .imagem { float:left; display:table; margin-right: 10px; }
#carrinho .imagem img { height:85px; width:150px; }
#carrinho .btn-remove { padding: 0 30px !important; }
#carrinho .btn-remove i {font-size: 30px !important; }
#carrinho .nome { font-weight: bold; font-size:14px; vertical-align: top; }
#carrinho .line { float:left; width:100%; text-align: right; margin-bottom:2px; }
#carrinho .line label{ float:left; width:65%; font-size: 14px; text-align: left; }
#carrinho .resumo .line{margin-bottom:5px; font-size:16px; width:98%;}
#carrinho .resumo .line label { font-size:16px; font-weight: bold; width: 120px; }
#carrinho .item-content{font-size:16px; padding:12px 8px 10px 8px !important; min-height: 95px !important; }

#pedido, #endereco, #servicos{ width:100%; background-color: #FFFFFF; padding:15px; border-bottom:1px solid #000000; display: table; }
#endereco .line{ float:left; width:100%; }
#pedido .codigo * {font-size:14px; font-weight: bold;}

#servicos .servico * { font-size:12px; }
#servicos .servico { background:#EEEEEE; }
#servicos .servico .img, #servico .box{ float:left; display:table; }
#servicos .servico .img{ margin-right:10px ; }
#servicos .servico .moeda { text-align: right;  }
#servicos .servico .moeda label { float:left; width:80px; text-align: left; }

.flag-open{ position:absolute; width:150px; height:80px; top:0px; left:0px; background-image: url('../img/flag_open.png'); background-repeat: no-repeat;}
#empresas .item{ padding:10px !important; }
#empresas .item-content{font-size:16px; padding:12px 8px 10px 8px !important; min-height: 95px !important; }
